*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: rgb(160, 143, 143);

}
.image
{
    max-width:9%;
    border-radius: 10%;
    
   
    
}

li,a
{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-size: 150%;
    color: rgb(177, 171, 162);
    text-decoration: none;
    position: relative;
}
.nav_bar
{
    list-style: none;
   

}
#content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_bar li
{
    display: inline-block;
    padding: 0% 20px;
}

.nav_bar li a:hover
{
 animation: color 2s infinite linear;
}


@keyframes color {
    0%
    {
        font-size: 150%;
        color: rgb(177, 171, 162);
    }

    100%
    {
        font-size: 160%;
        color: white;
    }
    
}