html
{
    cursor: url(1.png) 4 12, auto;
}

*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.svg
{
    text-align: right;
    
    background-color: black;
    box-sizing: content-box;
}

#hand
{
 animation: writing  1s linear infinite alternate-reverse ;
 transform-origin: bottom;
}

@keyframes writing {
    from{
        transform:rotateY(0deg);
    }
    to{
        transform:rotateY(8deg);
    }
   
    
}

#heart
{
    animation: beating 1s linear infinite alternate-reverse;
   transform-origin: center;
}
@keyframes beating {
    from{
        transform:scale();

    }
    to{
        transform:scale(1.02,1.02);
    }
    
}

#shoe_male
{
    animation: styles 1s  linear infinite alternate-reverse;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes styles {
    from{
       transform:rotateZ(0deg);
    }
    to{
        transform:rotateZ(-10deg);
    }
    
}

#window
{
 opacity: 110%;
 
}

#window1
{
 opacity: 110%;
 
}


